<h1> Welcome to the <%= @league.name %> page</h1>

<h3> Here are all the teams currently in your league: </h3>

<% if current_user.admin %>
  <%= link_to "Create Team as Admin", new_league_team_path(@league.id), :id => "admin-create-id", :data => {:confirm => "You Sure You Want To Create A Team For Someone Else?"}  %>
<% end %>

<table class="table table-hover players">
  <thead>
    <tr>
      <th> No. </th>
      <th> Team Name </th>
      <th> Owner </th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each_with_index do |t, index| %>
      <tr>
        <td> <%= index + 1%> </td>
        <td> <%= link_to "#{t.name}", t  %></td>
        <td> <%= link_to "#{t.user.name}", user_path(t.user.id) %> </td>
      </tr>
    <%end%>
  </tbody>
</table>

  <p> <%= link_to "Back to home", user_path(current_user) %> </p>
