<% if @user.id == current_user.id %>
  <h1>Hi, <%= @user.name%>!</h1>
  <p> <%= link_to "Edit Your Information", edit_user_path(@user) %> <p><br>
    <%= render 'table_other' %>
    <% if @user.admin %>
      <%= link_to "New League", new_league_path %> <br> <br>
      <%= link_to "Join League", join_league_path %>
    <% end %>
<% else %>
      <%= render 'table' %>
<% end %>
