<h1>Hi, <%= @user.name%>!</h1>

<% if admin_only %>
  <%= render 'table2' %>
<%else%>
  <%= render 'table1' %>
<%end %>

<% if admin_only%>
  <%= link_to "New League", new_league_path %> <br> <br>
  <%= link_to "Join League", join_league_path %>
<% else %>
  <%= link_to "Join League", join_league_path %>
<% end %>
