<h1>Hi, <%= @user.name %>!</h1>

<h3>Here are your leagues</h3>
  <%= @user.leagues.each do |l| %>
    <p> <%= link_to "League", l %> </p>
  <% end %>

<h3> Here are your teams </h3>
  <%= @user.teams.each do |t| %>
    <p> <%= link_to "Team", t %> </p>
  <% end %>
