<h1>Hi, <%= @user.name %>!</h1>

<h3>Here are yours and leagues</h3>

<p>Mood: <%= @user.mood %></p>
<p>Tickets: <%= @user.tickets %></p>
<p>Height: <%= @user.height %></p>
<p>ADMIN: <%= @user.admin %></p>

<%= link_to "See attractions", attractions_url %>
<%= link_to "Log Out", logout_url %>
