<h1><%= @player.name%> Overview </h1>
  <% if owned?(@player.player_teams) %>
    <%= link_to "Back to team", team_path(@player.team) %> <br>
  <% else %>
    <%= link_to "Back to league", team_players_path(previous_url) %> <br>
  <% end %>
<ul>
  <li> Position: <%= @player.position %> </li>
  <li> NBA Team: <%= @player.nba_team %> </li>
  <li> Weekly Points: <%= @player.points %> </li>
</ul>
