<h1><%= @player.name%> Overview </h1>
<%= link_to "Back to team", team_path(@player.team) %> <br> 
<ul>
  <li> Position: <%= @player.position %> </li>
  <li> NBA Team: <%= @player.nba_team %> </li>
  <li> Weekly Points: <%= @player.points %> </li>
</ul>
